<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ client.domain }}{{ page.url }}"
        },
        {% if title %}"headline": "{{ title | replace('"', '\\"') | safe }}",{% endif %}
        {% if description %}"description": "{{ description | replace('"', '\\"') | safe }}",{% endif %}
        {% if image %}
            "image": {
                "@type": "ImageObject",
                "url": "{{ client.domain }}{{ image }}",
                "width": 1200,
                "height": 630
            },
        {% endif %}
        {% if date %}"datePublished": "{{ date | isoDate }}",{% endif %}
        {% if lastModified %}"dateModified": "{{ lastModified | isoDate }}",{% elif date %}"dateModified": "{{ date | isoDate }}",{% endif %}
        {% if author %}
            "author": {
                "@type": "Person",
                "@id": "{{ client.domain }}/#person",
                "name": "Taylor Kelly",
                "url": "{{ client.domain }}/about/"
            },
        {% endif %}
        {% if client.name %}
            "publisher": {
                "@type": "Organization",
                "@id": "{{ client.domain }}/#organization",
                "name": "{{ client.name | replace('"', '\\"') }}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ client.domain }}/assets/images/portfolio/logoSidelarge.png",
                    "width": 1200,
                    "height": 627
                }
            }
        {% endif %}
    }
</script>